# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# PyInstaller
#  Usually these files are included after building an executable
/build/
/dist/
/*.spec

# CSV data
*.csv

# Environment files
.env
.venv/
